.product__info {
  display: flex;
  gap: 10px;
}

.product__img-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product__img-info img {
  height: 100px;
}

.product__img-banner img {
  height: 440px;
}

.product__info-desc h1 {
  margin-top: 0;
}

.product__info-desc input {
  box-sizing: border-box;
  height: 30px;
  width: 200px;
  padding-left: 10px;
}

.product__info-desc button {
  height: 30px;
  width: 100px;
  background-color: black;
  color: white;
  border: 1px;
}

.product__info-desc button:hover {
  cursor: pointer;
}
